<div class="jumbotron text-xs-center">
    <div class="row">
        <div class="col-4">
          <img src="../../assets/img/delivery.jpg" width="300px" height="300px">
        </div>
        <div class="col">
                <h1 class="display-3">Thank You!</h1>
                <p class="lead"><strong>Your order will be delivered to you soon</strong></p>
                <hr>
                <p class="lead">
                  <a class="btn btn-sm homeBtn" routerLink="/pizzas" role="button">Continue to homepage</a>
                </p>
              </div>
        </div>
    </div>
        
       