.placeBtn{
    color: brown;
    background-color: wheat;
}
.form-control:focus{
    border-color: wheat;
    box-shadow: 4px 8px 4px 4px wheat;
    outline: 8px wheat;
    -webkit-box-shadow: none;
}