<div id="body">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div id="content">
               <img src="https://images.unsplash.com/photo-1554136812-8b7875b188b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" width="350px" height="350px">
                <h1 class="display-4" style="color: brown">PizzaHolic</h1>
                <h3>At your doorstep</h3>
                <hr />
                <a
                  routerLink="/"
                  class="btn btn-lg btn-outline-danger"
                  (click)="scrollToElement(about)"
                >
                  Get Started!</a
                >
                <div id="about">
                  <h3 class="display-4" style="color:burlywood;">Welcome to PizzaHolic</h3>
                  <hr />
                  <h2>Hurry up and get exciting offers on your first orders</h2>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row" id="part1" [@scrollAnimation]="state">
            <div class="col-lg-6 col-sm-6">
              <img
                class="img-fluid img-thumbnail"
                src="https://images.unsplash.com/photo-1448006531138-949dfde20011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </div>
            <div class="col-lg-6 col-sm-6">
              <div id="album">
                <h3 class="display-4 text-center">Eat,Earn and Repeat</h3>
                <p class="text-center">
                  Get upto 50% cashback on first five orders and many more exciting prizes
                </p>
              </div>
            </div>
          </div>
          <div class="row" id="part2" [@scrollAnimation]="state">
            <div class="col-lg-6 col-sm-6">
              <div id="like">
                <h3 class="display-4 text-center">Get delicious pizzas at your doorstep</h3>
                <p class="text-center">
                 Get a wide and exotic range of pizzas at affordable rates. Enjoy the taste of pizzaHolic
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <img
                class="img-fluid img-thumbnail"
                src="https://images.unsplash.com/photo-1558701241-fad7148aac12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </div>
          </div>
      
          <div class="row" [@scrollAnimation]="state1">
            <div class="col-lg-12">
              <div id="gallery">
                 <i class="fa fa-pizza-slice"></i>
                <p id="header-p">At PizzaHolic we strive for taste and satisfaction</p>
                <p id="content-p">
                 Enjoy a wide range of exotic flavoured pizzas.Enjoy in the company of friends and family with the taste of PizzaHolic
                </p>
              </div>
              <div class="gallery">
                <figure class="gallery__item gallery__item--1">
                  <img
                    src="https://images.unsplash.com/photo-1548369978-75d7e3e7e96c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image1"
                    class="gallery__img"
                  />
                </figure>
                <figure class="gallery__item gallery__item--2">
                  <img
                    src="https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image2"
                    class="gallery__img"
                  />
                </figure>
                <figure class="gallery__item gallery__item--3">
                  <img
                    src="https://images.unsplash.com/photo-1560433684-6dc95b4c00c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image3"
                    class="gallery__img"
                  />
                </figure>
                <figure class="gallery__item gallery__item--4">
                  <img
                    src="https://images.unsplash.com/photo-1544882907-b914cebddbf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image4"
                    class="gallery__img"
                  />
                </figure>
                <figure class="gallery__item gallery__item--5">
                  <img
                    src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image5"
                    class="gallery__img"
                  />
                </figure>
                <figure class="gallery__item gallery__item--6">
                  <img
                    src="https://images.unsplash.com/photo-1558138838-76294be30005?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image6"
                    class="gallery__img"
                  />
                </figure>
                <figure class="gallery__item gallery__item--7">
                  <img
                    src="https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image7"
                    class="gallery__img"
                  />
                </figure>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div #about id="footer">
                <h3 class="display-4">Start taking the taste of PizzaHolic</h3>
                <p>Here to serve you</p>
                <a
                  class="btn btn-lg btn-outline-danger"
                  routerLink="/pizzas"
                  >Get our Menu</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>