<div class="container" id="content">
    <h1 class="display-4" style="text-align:center; color:black;">
      Sign Up
    </h1>
    <p class="text-center" style="color: grey">Create your PizzaHolic Account</p>
    <div class="row">
      <div style="width:30%;margin:20px auto">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  ngModel
                  name="name"
                  required="required"
                  placeholder="Name"
                />
              </div>
          <div class="form-group">
            <input
              class="form-control"
              type="email"
              ngModel
              name="email"
              required="required"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              ngModel
              name="password"
              required="required"
              placeholder="Password"
            />
          </div>
          <button
            type="submit"
            class="btn btn-large  btn-block"
            style="background-color: wheat"
            [disabled]="!f.valid"
          >
            Register
          </button>
        </form>
        <p class="text-center" style="margin-top: 15px;">OR</p>
        <button 
        style="margin-top: 20px;"
        (click)="login()"
        class="btn btn-large btn-danger btn-block"><i class="fa fa-google" style="margin-right: 5px;"></i>Continue with Google</button>
      </div>
    </div>
  </div>
   
